@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap");


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
}
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
  color: #333;
}

.custom-file-upload:hover {
  background-color: #e1e1e1;
}

.custom-file-upload i {
  margin-right: 5px;
}
